.Adduser{
    margin-left: 35%;
}

.Edituser{
    margin-left: 35%;
}

.LoginUser{
    margin-left: 35%;  
}

.Action{
    margin-left: 30px;
}

.container{
    margin-top: 60px;
    margin-left: 30%;
}

.Label{
    display: block;
   
}

.error{
    color: red;
}

.Pages1{
    margin-left:10px;
}

.Pages{
    margin-top: 50px;
    margin-left: 40%;
        
}

.button1{
    margin-left: 40%; 
}

.button{
    margin:5px;
    background-color: rgb(26, 173, 173);
    border-radius: 3px;
    
}

.image{
    width: 100px;
}